{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lieu.css') }}">
{% endblock %}


{% block main %}
    <div class="h1-container">
        <div class="h1-style">
            <h1>Gerer les lieux</h1>
            <div class="h1-underline"></div>
        </div>
    </div>

    <div class="filtres-container">
        <h3>Filtrer les lieux</h3>
        <div class="filtres-form">
            <div class="filtres-search">
                <div class="filtre-lieu" style="margin: 1em auto 2em 6em;">Le nom contient :
                    <input type="search" id="site-search" name="q"
                           aria-label="Search through site content">
                    <button>Rechercher</button>
                </div>
                <div class="lieux-tablau">
                    <div class="lieu-ligne">
                        <div class="lieu-ville"><b>Villes</b></div>
                        <div class="lieu-cp"><b>Code postal</b></div>
                        <div class="lieu-actions"><b>Actions</b></div>
                    </div>
                    {% for lieu in lieux %}
                    <div class="lieu-ligne">
                        <div class="lieu-ville lieu-ligne-entete"></div>
                        <div class="lieu-cp lieu-ligne-entete"></div>
                        <div class="lieu-actions lieu-ligne-entete"></div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
