{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
{% endblock %}

{% block main %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-error" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="h1-container">
        <div class="h1-style">
            <h1>Inscription</h1>
            <div class="h1-underline"></div>
        </div>
    </div>

    <div class="inscription-form-container">
        {{ form_start(registrationForm) }}

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
