/*=============================================*/
/*        FONTS                                */
/*=============================================*/
@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Regular.otf");
}
@font-face {
    font-family: quicksand;
    src: url("../fonts/Quicksand-Regular.otf");
}
/*=============================================*/
/*        RESET CSS                            */
/*=============================================*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, cite,
img,
small, strike, strong, sub, sup,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,
footer, header, nav
{
    margin: 0;
    padding: 0;
    border: 0 none;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    /*background-color: #f1da5c;*/
    background-color: #cacaca;
    color: #121212;
}
main {
    min-height: 60vh;
}
h1 {
    font-family: quicksand, sans-serif;
    font-size: 2.5em;
    color: #23032d;
}
div.h1-container {
    width: 50%;
}
div.h1-style {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: 2em 0 1em 0;
}
div.h1-underline {
    height: 2px;
    width: 50%;
    margin: 0 auto;
    background: linear-gradient(to right, #cacaca, #23032d, #23032d, #23032d, #23032d, #23032d, #cacaca);
}

/*=============================================*/
/*        NAVBAR                               */
/*=============================================*/
nav {
    letter-spacing: .1em;
    background-color: #222222;
    color: #dfdfdf;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
nav .nav-logo {
    background-color: #999999;
    border-radius: 50%;
    padding: .5em .7em;
}
nav .nav-logo img {
    width: 3em;
}

nav .logo-accueil{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
nav .logo-accueil a {
    margin-left: 1em;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 1em;
}
nav ul li {
    /*display: inline-block;*/
    margin-right: 1em;
}
nav a {
    transition: .5s;
    padding: .5em 1em;
    border-radius: .3em;
    box-shadow: 0 0 5px #222222;
}
nav a:hover {
    transition: .15s;
    color: #f1da5c;
    box-shadow: 0 0 5px #757575;
}
a {
    text-decoration: none;
    color: inherit;
}
.logo-user:hover {
    box-shadow: none;
}
.logo-user img {
    transition: .5s;
    width: 2.5em;
    padding: .2em;
    border-radius: 50%;
    background-color: #999999;
}
.logo-user img:hover {
    transition: .15s;
}
.logo-admin img {
    width: 3em;
    padding: .2em;
}
.user-real-img {
    max-height: 3em;
    width: 4em;
}
/*=============================================*/
/*        AUTRE                                */
/*=============================================*/
.user-name {
    font-size: .8em;
    text-align: right;
    margin-top: 0.5em;
    margin-right: 2em;
    color: rgba(35,3,45,.8);
}
/*=============================================*/
/*        FLASH ALERT                          */
/*=============================================*/
div.alert {
    width: 70%;
    margin: 2em auto;
    border-width: 1px;
    border-style: solid;
    border-radius: .3em;
    text-align: center;
    padding: .5em;
}
div.alert-success {
    color: #054005;
    background-color: #91d491;
    border-color: #054005;
}
div.alert-error {
    color: #40030e;
    border-color: #40030e;
    background-color: #dd92a1;
}
/*=============================================*/
/*        MAIN                                 */
/*=============================================*/
main {
    min-height: 80vh;
}
/*=============================================*/
/*        FOOTER                               */
/*=============================================*/
footer.footerStyle {
    letter-spacing: .1em;
    background-color: #222222;
    color: #eeeeee;
    text-align: center;
    padding: 2em 0;
    /* //--// A voir ...*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*bottom: 0;*/
}

