h3 {
    margin: 1em auto 2em 6em;
}

filtre-lieu{
    margin: 1em auto 2em 6em;
}

.lieux-tablau {
    width: 60%;
    margin: 1em auto 2em 6em;
    background-color: #d4d4d4;
    padding: 1em;
    border-radius: .5em;
}
.lieu-ligne {
    display: flex;
    flex-flow: row nowrap;
    padding: .2em 0;
    justify-content: center;
}
.lieu-ligne div {
    padding-left: 2em;
}
.lieu-ligne-entete {
    height: 2px;
    background: linear-gradient(to right, #23032d, #cacaca);
}

.lieu-ville a {
    transition: .5s;
    display: inline-block;
    padding: .5em .7em;
    background-color: #2d2d2d;
    margin-right: .5em;
    border-radius: 50%;
}
.lieu-ville a:hover {
    transition: .2s;
    background-color: #23032d;
}
.lieu-ville img {
    width: 1.4em;
    position: relative;
    top: .2em;
}

.lieu-ville {
    padding-right: 5em;
    width: 43%;
}

.lieu-cp {
    padding-right: 5em;
    width: 23%;
}
.lieu-actions {
    width: 33%;
}

.icon-delete img{
    width: 2em;
}

.icon-modifier img{
    width: 2em;
    margin-left: 0.5em;
}

.icon-add img {
    width: 2em;
}

.sortie-liens a{
    transition: .5s;
    color: #632079;
    background-color: #fdfdfd;
    padding: .1em 1em;
    border-radius: .2em;
}
.sortie-liens a:hover {
    transition: .2s;
    color: #fdfdfd;
    background-color: #632079;
}
