.ville-form-container {
    width: 40em;
    max-width: 90%;
    margin: 3em auto;
    padding: 1em 2em;
    background-color: #999999;
    border-radius: .5em;
}

.ville-form-container div {
    margin: 1em;
}

.ville-form-container label {
    display: inline-block;
    min-width: 7em;
}

.ville-form-container input {
    width: 20em;
    border: none;
    padding: .7em;
    border-radius: .3em;
}

.buttons-ok-no {
    display: flex;
    flex-flow: row wrap;
    padding-left: 5em;
}

.buttons-ok-no button, .buttons-ok-no a {
    display: inline-block;
    transition: .5s;
    display: inline-block;
    padding: .7em 2em;
    margin-left: 2em;
    border-radius: .3em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 0 5px #999999;
}

.buttons-ok-no .button-submit, .buttons-ok-no a {
    color: #095609;
    border: 1px solid #095609;
    background-color: #eeeeee;
}

.buttons-ok-no .button-submit:hover {
    transition: .15s;
    box-shadow: 0 0 5px #095609;
}

.buttons-ok-no .button-cancel, .buttons-ok-no a {
    color: #7e0b22;
    border: 1px solid #7e0b22;
}

.buttons-ok-no .button-cancel:hover, .buttons-ok-no a:hover {
    transition: .15s;
    box-shadow: 0 0 5px #7e0b22;
}

.message-isadmin {
    width: 20em;
    text-align: center;
    padding: .5em 2em;
    border-radius: .3em;
    border: 1px solid #23032d;
    background-color: #ba6dd2;
    color: #23032d;
}
