h3 {
    margin: 1em auto 2em 6em;
}

.filtre-ville{
    margin: 1em auto 2em 6em;
}

.ville-tablau {
    width: 60%;
    margin: 1em auto 2em 6em;
    background-color: #d4d4d4;
    padding: 1em;
    border-radius: .5em;
}
.ville-ligne {
    display: flex;
    flex-flow: row nowrap;
    padding: .2em 0;
}
.ville-ligne div {
    padding-left: 2em;
}
.ville-ligne-entete {
    height: 2px;
    background: linear-gradient(to right, #cacaca, #23032d, #23032d, #23032d, #23032d, #23032d, #cacaca);
}

.ville-ville a {
    transition: .5s;
    display: inline-block;
    padding: .5em .7em;
    background-color: #2d2d2d;
    margin-right: .5em;
    border-radius: 50%;
}
.ville-ville a:hover {
    transition: .2s;
    background-color: #23032d;
}
.ville-ville img {
    width: 1.4em;
    position: relative;
    top: .2em;
}

.ville-ajouter {
    display: flex;
    margin-left: 6.5em;
}

.ville-ville {
    padding-right: 5em;
    width: 25%;
}

.ville-cp {
    padding-right: 5em;
    width: 5%;
}

.ville-actions {
    width: 25%;
}

.icon-delete img{
    width: 2em;
}

.icon-modifier img{
    width: 2em;
    margin-left: 0.5em;
}

.icon-add img {
    width: 2em;
}
